{% extends 'app/base2.html' %}
{% load static %}
{% block title %}
<title>FINDOCTOR - Case Details</title>
{% endblock %}
{% block content %}
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="register">
                <h1>Case Details</h1>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        {% if key1 %}
                        <form method="POST" action="{% url 'updatecase' pk=key1.id %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="">
                                {% if msg %}
                                <strong>
                                    <p style="color:red;">{{msg}}</p>
                                </strong>
                                {% endif %}

                                <div class=" box_general padding_bottom">
                                    <div class="header_box version_2">
                                        <h2><i class="fa fa-file"></i>Patient info</h2>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.Firstname}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last name</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.Lastname}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Contact</label>
                                                <input type="tel" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.Contact}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.m_id.Email}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.Gender}}" disabled>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.patient_id.DOB}}" disabled>


                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="box_general padding_bottom">
                                    <div class="header_box version_2">
                                        <h2><i class="fa fa-file"></i>Doctor Info</h2>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.doc_id.Firstname}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last name</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.doc_id.Lastname}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Contact</label>
                                                <input type="tel" class="form-control"
                                                    value="{{key1.appoint_id.doc_id.Contact}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control"
                                                    value="{{key1.appoint_id.doc_id.m_id.Email}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea class="form-control" name="remarks" id="" cols="100%" rows="6"
                                            disabled>{{key1.Remarks}}</textarea>
                                    </div>

                                </div>

                                <div class="box_general padding_bottom">
                                    <div class="header_box version_2">
                                        <h2><i class="fa fa-file"></i>Appointment Info</h2>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Booking Date</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.Booking_date}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Booking Time</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.Booking_time}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Visits Info</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.Visits}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Message</label>
                                                <input type="text" class="form-control"
                                                    value="{{key1.appoint_id.Message}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->


                                </div>

                                <div class="box_general padding_bottom">
                                    <div class="header_box version_2">
                                        <h2><i class="fa fa-file"></i>Case Info</h2>
                                    </div>



                                    <div class="form-group">
                                        <label>Medical History</label>
                                        <textarea class="form-control" name="medical_history" id="" cols="100%"
                                            rows="7">{{key1.medical_history}}</textarea>
                                    </div>




                                    <div class="form-group">
                                        <label>Allergic</label>
                                        <textarea class="form-control" name="allergic" id="" cols="100%"
                                            rows="7">{{key1.allergic}}</textarea>
                                    </div>



                                </div>

                                <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Update Profile">
                                </div>
                            </div>
                            <!-- <p class="text-center"><small>Has voluptua vivendum accusamus cu. Ut per assueverit
                                    temporibus dissentiet. Eum no atqui putant democritum, velit nusquam sententiae vis
                                    no.</small></p> -->



                        </form>
                        {% endif %}
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>
</main>

<!-- /main -->




{% endblock %}