{% extends 'app/base2.html' %}
{% load static %}
{% block title %}
<title>FINDOCTOR - My Appointment</title>
{% endblock %}
{% block content %}
<main>
    <div id="results">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h4><strong>My Case's</strong></h4>
                </div>
                <!-- <div class="col-md-6">
                    <div class="search_bar_list">
                        <input type="text" class="form-control" placeholder="Ex. Specialist, Name, Doctor...">
                        <input type="submit" value="Search">
                    </div> -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /results -->

    <div class="filters_listing">
        <!-- <div class="container">
            <ul class="clearfix">
                <li>
                    <h6>Type</h6>
                    <div class="switch-field">
                        <input type="radio" id="all" name="type_patient" value="all" checked>
                        <label for="all">All</label>
                        <input type="radio" id="doctors" name="type_patient" value="doctors">
                        <label for="doctors">Doctors</label>
                        <input type="radio" id="clinics" name="type_patient" value="clinics">
                        <label for="clinics">Clinics</label>
                    </div>
                </li>
                <li>
                    <h6>Layout</h6>
                    <div class="layout_view">
                        <a href="grid-list.html"><i class="icon-th"></i></a>
                        <a href="#0" class="active"><i class="icon-th-list"></i></a>
                        <a href="list-map.html"><i class="icon-map-1"></i></a>
                    </div>
                </li>
                <li>
                    <h6>Sort by</h6>
                    <select name="orderby" class="selectbox">
                        <option value="Closest">Closest</option>
                        <option value="Best rated">Best rated</option>
                        <option value="Men">Men</option>
                        <option value="Women">Women</option>
                    </select>
                </li>
            </ul>
        </div> -->
        <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-7">
                {% if key1 %}
                {% for i in key1 %}
                {% if i.appoint_id.patient_id.m_id.id == request.session.id %}
                <div class="strip_list wow fadeIn">
                    <!-- <a href="#0" class="wish_bt"></a> -->

                    <figure>
                        <a href="#"><img src="{{MEDIA_URL}}{{i.appoint_id.doc_id.profile_pic.url}}" alt=""></a>
                    </figure>

                    {% if i.Currentstatus == "Open" %}
                    <small style="color: green;">{{i.Currentstatus}}</small>
                    {% elif i.Currentstatus == "Closed" %}
                    <small style="color: orangered;">{{i.Currentstatus}}</small>
                    {% endif %}
                    <h3>Dr. {{i.appoint_id.doc_id.Firstname}} {{i.appoint_id.doc_id.Lastname}}</h3>
                    <p>Created on : {{i.created}}</p>

                    <p>Current Status : {{i.Currentstatus}}</p>

                    <!-- <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                            class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
                        <small>(145)</small></span>
                    <a href="badges.html" data-toggle="tooltip" data-placement="top" data-original-title="Badge Level"
                        class="badge_list_1"><img src="img/badges/badge_1.svg" width="15" height="15" alt=""></a> -->
                    <ul>
                        <li></li>

                        <li><a href="{% url 'casedetails' pk=i.appoint_id.id %}">View Case </a></li>

                    </ul>
                </div>
                <!-- /strip_list -->
                {% endif %}
                {% endfor %}
                {% endif %}
                <nav aria-label="" class="add_top_20">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination -->
            </div>
            <!-- /col -->

            <aside class="col-lg-5" id="sidebar">
                <div id="map_listing" class="normal_list">
                </div>
            </aside>
            <!-- /aside -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->

{% endblock %}