{% extends 'app/base1.html' %}
{% load static %}

{% block title %}
<title>FINDOCTOR - User Registration</title>
{% endblock %}

{% block content %}	
	<main>
		<div class="bg_color_2">
			<div class="container margin_60_35">
				<div id="register">
					<h1>Please register to Findoctor!</h1>
					<div class="row justify-content-center">
						<div class="col-md-5">
							<form method="post" action="{% url 'registeruser' %}">
								{% csrf_token %}

								<div class="box_form">
									{% if msg %}
									<strong><p style="color:red;">{{msg}}</p></strong>
									{% endif %}
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" placeholder="Your First name" name="fname" >
									</div>
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" placeholder="Your Last name" name="lname">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" placeholder="Your Email address" name="email">
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" id="password1" name="password" placeholder="Your password">
									</div>
									<div class="form-group">
										<label>Confirm password</label>
										<input type="password" class="form-control" id="password2" name="cpass" placeholder="Confirm password">
									</div>
									<div id="pass-info" class="clearfix"></div>
									<div class="checkbox-holder text-left">
										<div class="checkbox_2">
											<input type="checkbox" value="accept_2" id="check_2" name="check_2" checked>
											<label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
										</div>
									</div>
									<div class="form-group text-center add_top_30">
										<input class="btn_1" type="submit" value="Register">
									</div>
								</div>
								<p class="text-center"><small>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant democritum, velit nusquam sententiae vis no.</small></p>
							</form>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /register -->
			</div>
		</div>
	</main>
	<!-- /main -->
	
{% endblock %}