{% extends 'app/base2.html' %}
{% load static %}
{% block title %}
<title>FINDOCTOR - User Profile</title>
{% endblock %}
{% block content %}
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="register">
                <h1>Your Profile</h1>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form method="POST" action="{% url 'updateprofile' pk=request.session.id %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="box_form">
                                {% if msg %}
                                <strong>
                                    <p style="color:red;">{{msg}}</p>
                                </strong>
                                {% endif %}
                                {% if key1 %}
                                <!-- <div class="row">
                                    <div class="col-md-6"> -->
                                <div class="form-group">
                                    <img src="{{MEDIA_URL}}{{key1.profile_pic.url}}" alt="" height="150px" width="150px"
                                        draggable="false">

                                </div>
                                <!-- </div>
                                </div> -->

                                <div class="form-group">
                                    <label>Update Profile picture</label>
                                    <input class="form-control" type="file" name="pro-pic" id="profilepic">
                                </div>

                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="Your First name" name="fname"
                                        value="{{key1.Firstname}}">
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Your Last name" name="lname"
                                        value="{{key1.Lastname}}">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="email"
                                        value="{{request.session.Email}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="tel" class="form-control" id="contact" name="contact"
                                        placeholder="Your Contact" value="{{key1.Contact}}">
                                </div>

                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" name="gender" id="">
                                        {% if key1.Gender == "SELECT" %}
                                        <option>Male</option>
                                        <option>Female</option>
                                        {% else %}
                                        {% if key1.Gender == "Male" %}
                                        <option>{{key1.Gender}}</option>
                                        <option>Female</option>
                                        {% else %}
                                        <option>{{key1.Gender}}</option>
                                        <option>Male</option>
                                        {% endif %}
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Date of Birth</label>

                                    <input type="date" class="form-control" id="dob" name="dob" value="{{key1.DOB}}">
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" placeholder="Your City"
                                        value="{{key1.City}}" name="city">

                                </div>
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" placeholder="Your state"
                                        value="{{key1.State}}" name="state">
                                </div>

                                <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Update Profile">
                                </div>
                            </div>
                            <!-- <p class="text-center"><small>Has voluptua vivendum accusamus cu. Ut per assueverit
                                    temporibus dissentiet. Eum no atqui putant democritum, velit nusquam sententiae vis
                                    no.</small></p> -->


                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>
</main>

<!-- /main -->




{% endblock %}